@font-face {
    font-family: 'Tajawal';
    src: url('Tajawal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  * {
    font-family: 'Tajawal' !important;
  }
  
  
  body {
    font-family: 'Tajawal', sans-serif;
  }

  .s-block--features__item {
    border-radius: 25px !important;
}
  