@font-face {
    font-family: 'Ooredoo';
    src: url('https://raw.githubusercontent.com/Azyz25/salla/main/Ooredoo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Ooredoo', sans-serif;
  }
  